<!doctype html>
<html lang="en">
  {% load static %}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

	
  <link rel="stylesheet" type="text/css" href="static/style.css" />
	<title>College Chance Calculator</title>
</head>

<body>
	<div class="site-wrapper">
		<header class="header">
			<div class="header-container">
				<h1 class="heading">College Chance Calculator</h1>
			</div>
		</header>
		<main>
			<div class="main-container">
				<div class="carousel-container">
					<div  id="carouselControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="static/satbellcurve.png" class="d-block" alt="sat bell curve">
							</div>
							<div class="carousel-item">
								<img src="static/explain.png" class="d-block" alt="explanation">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
				<div class="cal-wrapper container col-lg-12 px-4 pb-5">
					<div class="cal-container container align-items-center rounded-3 border shadow-lg">
						<div class="py-3"><h4 class="cal-heading">Check your College Chances here!</h4></div>
						<div>
							<form action="studentchance" onsubmit="return testInputs()" method="POST">
								{% csrf_token %}
								<div class="row form-block">
									<div class="col l-block">
										<!-- left block-->
										<div class="d-flex flex-column h-100">
											<div id="sat_btn" class="col category active" onclick="onSatClick()">
												<span class="category-text">SAT</span>
												<input class="form-check-input visually-hidden" type="radio" id="sat"
													name="sat_or_act" checked="checked" value="SAT">
											</div>
											<div id="act_btn" class="col category" onclick="onActClick()">
												<span class="category-text">ACT</span>
												<input class="form-check-input visually-hidden" type="radio" id="act"
													name="sat_or_act" value="ACT">
											</div>
										</div>
									</div>
									<div class="col p-4 r-block">
										<!-- right block-->
										<legend>Score </legend>
										<div id="sat_div" class="form active">
											<div class="mb-3">
												<label class="form-label" for="sat_english">SAT English:</label>
												<input class="form-control" type="text" id="sat_english"
													name="sat_english">
											</div>
											<div class="mb-3">
												<label class="form-label" for="sat_math">SAT Math:</label>
												<input class="form-control" type="text" id="sat_math" name="sat_math">
											</div>
										</div>
										<div id="act_div" class="form">
											<div class="mb-3">
												<label class="form-label" for="act_composite">ACT Composite:</label>
												<input class="form-control" type="text" id="act_composite"
													name="act_composite">
											</div>
											<div class="mb-3">
												<label class="form-label" for="act_english">ACT English:</label>
												<input class="form-control" type="text" id="act_english"
													name="act_english">
											</div>
											<div class="mb-3">
												<label class="form-label" for="act_math">ACT Math:</label>
												<input class="form-control" type="text" id="act_math" name="act_math">
											</div>
										</div>
										<div>
											<button class="btn btn-primary" type="submit">Submit</button>
										</div>
									</div>
								</div>
							</form>					
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div>&#169; 2021 Copyright - Anirudh Nukala</div>
		</footer>
	</div>

	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- Other JS -->
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

	<!-- scripts -->
	<script>
		$(document).ready(function () {
			$('#nba_table').DataTable();
		});
		function testInputs()
		{
			var data=$('input[name=sat_or_act]:checked').val();
			if (data == "ACT")
			{
				let act_english = $('#act_english').val()
				let act_math = $('#act_math').val()
				let act_composite = $('#act_composite').val()
				if (isNaN(act_english))
				{
					alert('ACT English has to be a number');
					return false
				}
				if (isNaN(act_math))
				{
					alert('ACT Math has to be a number');
					return false
				}
				if (isNaN(act_composite))
				{
					alert('ACT Composite has to be a number');
					return false
				}
				act_english = parseInt(act_english)
				if (!(act_english >= 1 && act_english <= 36))
				{				
					alert('ACT English is an invalid score (1-36)')
					return false
				}
				act_math = parseInt(act_math)
				if (!(act_math >= 1 && act_math <= 36))
				{
					alert('ACT Math is an invalid score (1-36)')
					return false
				}
				act_composite = parseInt(act_composite)
				if (!(act_composite >= 1 && act_composite <= 36))
				{
					alert('ACT Composite is an invalid score (1-36)')
					return false
				}
			}
			else if (data == "SAT")
			{
				let sat_english = $('#sat_english').val()
				let sat_math = $('#sat_math').val()
				if (isNaN(sat_english))
				{
					alert('SAT English has to be a number');
					return false
				}
				if (isNaN(sat_math))
				{
					alert('SAT Math has to be a number');
					return false
				}
				sat_english = parseInt(sat_english)
				if (!(sat_english >= 200 && sat_english <= 800))		
				{		
					alert('SAT English is an invalid score (200-800)')
					return false
				}
				sat_math = parseInt(sat_math)
				if (!(sat_math >= 200 && sat_math <= 800))
				{
					alert('SAT Math is an invalid score (200-800)')
					return false
				}
			}	

			return true ;
	
		}
		function onSatClick() {
			// document.getElementById('sat_div').style.display = 'block';
			// $('#sat')  is same as document.getElementById('sat');
			// document.getElementById('act_div').style.display = 'none';

			
			$('#sat').prop("checked", true);
			$('#act').prop("checked", false);

			$('#sat_btn').addClass('active');
			$('#act_btn').removeClass('active');

			$('#sat_div').addClass('active');
			$('#act_div').removeClass('active');
		}
		
		function onActClick() {
			// document.getElementById('sat_div').style.display = 'none';
			// document.getElementById('act_div').style.display = 'block';

			$('#act').prop("checked", true);
			$('#sat').prop("checked", false);

			$('#act_btn').addClass('active');
			$('#sat_btn').removeClass('active');

			$('#act_div').addClass('active');
			$('#sat_div').removeClass('active');
		}
	</script>
</body>

</html>