<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <title>College Chance Calculator</title>
</head>

<body>



<div class="site-wrapper">
    <header class="header">
      <div class="header-container">
        <h1 class="heading">College Chance Calculator</h1>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="py-3">
          <h4 class="cal-heading">College List</h4>
        </div>
        <!-- data grid -->
        <div class="data-table college-table pb-3">
     <table id="nba_table" class="table table-striped table-hover table-bordered">
       <thead class="table-dark">
         <tr>
                <th scope="col">Name</th>
              </tr>
        </thead>
        <tbody>
       
        {% for college,color in zippedlist %}
          <tr class="{{color}}" >
              <td ><a href=
                'details?id={{college.id}}' >{{college.name}}</a></td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
        <div class="p-1">
          <button class="btn btn-primary"><i class="fa fa-angle-left"></i>Back</button>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div>&#169; 2021 Copyright - Anirudh Nukala</div>
    </footer>
  </div>
  
   <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Other JS -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
  <!-- scripts -->
  <script>
    $(document).ready(function () {
      $('#nba_table').DataTable();
    });
  </script>
</body>

</html>   
